.online-user-home h4{
    color: white;
    font-size: 14px;
    margin-left: 20px;
   }
   
   
   .online-user-home p{
       color: white;
       font-size: 24px;
       margin-left: 20px;
       margin-top: -7px;
      }
   
      .online-user-home img{
       width: 90;
       height: 23;
      }


      @media only screen and (min-width: 630px){
        .online-user-home h4{
            margin-left: 260px;
            margin-top: 50px;
        }

        .online-user-home p{
            margin-left: 260px;
        }
      }