.ant-breadcrumb {   
    margin-left: 15px;
    margin-top: 10px;
    
    }
    
    .ant-breadcrumb-link{
        color:white;
        font-size: 14px;
        font-weight: 400;
    }
    
    .ant-breadcrumb-separator{
        color: white;
    }
    
    .ant-breadcrumb-link a {
        color:white;
        font-size: 14px;
        font-weight: 700;
    }



    @media only screen and (min-width: 630px){
        .ant-breadcrumb {   
            margin-left: 225px;
            margin-top: -89px;
            }
            
    }