.summary-overview-title{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 80px;
    margin-top: 30px;
    margin-left: 21px;
}

.summary-overview-title h1{
 color: white;
 font-size: 18px;
 font-weight: 600;

}

.summary-overview-icons {
 
   margin-left: 73px;
}

.summary-overview-user h3{
    color: white;
    width: 700;
    font-size: 14px;
    margin-left:17px;
}

.summary-overview-user p {
    color: white;
    width: 700;
    font-size: 14px;
    margin-left:43px;
    margin-top: -21px;
}


.summary-overview-active h3{
    color: white;
    width: 700;
    font-size: 14px;
    margin-left:17px;
}


.summary-overview-active p {
    color: white;
    width: 300;
    font-size: 14px;
    margin-left:43px;
    margin-top: -21px;
}




@media only screen and (min-width: 630px){
    .summary-overview-title h1{
        margin-left: 217px;
    }

    .summary-overview-icons {
 
        margin-left: 133px;
     }

    .summary-overview-user{
        margin-left:220px
    }

    .summary-overview-active{
        margin-left:220px
    }
}


@media only screen and (min-width: 740px){
    .summary-overview-icons {
 
        margin-left: 230px;
     }
}

@media only screen and (min-width: 1024px){
    .summary-overview-title{
       margin-left: 530px;

    }

    .summary-overview-title h1{
        margin-top: -350px;
    }

    .summary-overview-icons {
        margin-left: 50px;
        margin-top: -345px;
    }

    .summary-overview-user{
        margin-left: 731px;
        margin-top: -300px;
    }

    .summary-overview-active{
        margin-left: 731px;
        margin-top: 30px;
    }
}



@media only screen and (min-width: 1280px){
    .summary-overview-title{
        margin-left: 670px;
 
     }


     
 
     .summary-overview-icons {
         margin-left: 150px;
         margin-top: -345px;
     }
 
     .summary-overview-user{
         margin-left: 871px;
         margin-top: -300px;
     }
 
     .summary-overview-active{
         margin-left: 871px;
         margin-top: 30px;
     }
}


@media only screen and (min-width: 1480px){
    .summary-overview-title{
        margin-left: 840px;
 
     }
 
 
     .summary-overview-user{
         margin-left: 1041px;
         margin-top: -300px;
     }
 
     .summary-overview-active{
         margin-left: 1041px;
         margin-top: 30px;
     }
}

@media only screen and (min-width: 1600px){
    .summary-overview-title{
        margin-left: 900px;
 
     }

     .summary-overview-icons {
 
        margin-left: 193px;
     }

 
 
     .summary-overview-user{
         margin-left: 1100px;
         margin-top: -300px;
     }
 
     .summary-overview-active{
         margin-left: 1100px;
         margin-top: 30px;
     }
}

@media only screen and (min-width: 1750px){
 .summary-overview-title{
        margin-left: 1000px;
 
     }

     .summary-overview-icons {
 
        margin-left: 230px;
     }

 
 
     .summary-overview-user{
         margin-left: 1200px;
         margin-top: -300px;
     }
 
     .summary-overview-active{
         margin-left: 1200px;
         margin-top: 30px;
     }
}