


.testing{
  background-color: #000;
}

.home-overview-header h1{
    color: #FDFDFD; 
    font-size: 35px;
    font-weight: 300;
    margin-left: 14px;  
    
   }
   
   .home-overview-header p{
       color: #FDFDFD;
       font-size: 20px;
       margin-left: 14px;
       margin-top: -29px; 
       font-weight: 300; 
      }



      @media only screen and (min-width: 630px){
        .home-overview-header h1{
            margin-left: 225px;  
        }


        .home-overview-header p{
            margin-left: 390px; 
            margin-top: -57px;
        }
      }


      

      @media only screen and (min-width: 740px){
        .testing{
            background-color: #000;
            margin-left: 210px;
            border-top-left-radius:18px;
            margin-top: -30px;
            height: 760px;
        }
      }


      