

.sliders{
    position: fixed;
    min-width: 20%;
    height: 100vh;
    right: -100%;
    transition: 1s linear;
    margin-top: 70px;
    
 
}

.sliders.actives{
    right:0;
    transition: 1s linear;
    margin-top: -47px;
    background: #151515;
    
    
}

.sliders ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}

.navbar-icons  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;  
}


.navbar-bell img {
    height: 24px;
    width: 30px;
    margin-top: 30px;
}

.navbar-setting img {
    height: 24px;
    width: 30px;
    margin-top: 30px;
}

.navbar-profile img {
    height: 24px;
    width: 30px;
    margin-top: 30px;
}

.navbar-search img{
    height: 24px;
    width: 30px;
    margin-top: 30px;
}




